#canvas-hair {
    width: 600px;
    height: 432px;
    background-image: url('../assets/hair.png');
    padding: 0px auto;
    position: absolute;
    z-index: -2;
}

#canvas-eyes {
    width: 95px;
    height: 40px;
    margin-left: 250px;
    margin-top: 120px;
    background-image: url('../assets/eyes.png');
    position: absolute;
    z-index: -1;
}

#canvas-lips {
    width: 60px;
    height: 60px;
    margin: 0px auto;
    margin-left: 270px;
    margin-top: 170px;
    background-image: url('../assets/lips-square.png');
    position: absolute;
    z-index: 0;
}

.hair-red {
    background: red;
}

.hair-blue {
    background: blue;
}

.hair-green {
    background: green;
}

.eye-aqua {
    background: aqua;
}

.eye-yellow {
    background: yellow;
}

.eye-orange {
    background: orange;
}

.lip-pink {
    background: pink;
}

.lip-coral {
    background: coral;
}

.lip-purple {
    background: purple;
}
